{% style %}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }

    /* CUSTOM */
    .main-banner__content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        border-radius: 24px;
        padding: 16px;
    }
    .main-banner__content h1 {
        margin: 0 0 16px 0;
    }
    .main-banner__content p {
        margin: 0 0 16px 0;
    }
    .main-banner__content a {
        margin: 0;
    }
    @media (min-width: 768px) {
        .main-banner__content {
            left: 24px;
        }
        .main-banner__content h1 {
            margin: 0 0 24px 0;
        }
        .main-banner__content p {
            margin: 0 0 24px 0;
        }
        .main-banner__content a {
            margin: 0;
        }
    }
    @media (min-width: 1024px) {
        .main-banner__content {
            left: 32px;
        }
    }
    @media (min-width: 1440px) {
        .main-banner__content {
            left: 40px;
        }
    }
    
{% endstyle %}

<container class="tw-block {% if section.settings.full_width %}page-full{% else %}page-width{% endif %} {{ section.settings.custom_layout }} section-{{ section.id }}-padding">
    <div class="section-inner tw-flex tal:tw-flex-row tw-flex-col-reverse">
        <div class="main-banner__content tal:tw-mr-below-40px tal:tw-w-1/2 tal:tw-flex tal:tw-items-center tw-relative">
            <div class="main-banner__content-inner tal:tw-p-32px tal:tw-rounded-3xl tw-bg-white tw-p-24px tw-shadow-normal tw-rounded-b-3xl tw-overflow-hidden">
                {% if section.settings.title != blank %}
                    <h1 class="section-title tw-mb-16px text-stroke-black tw-text-yellow">{{ section.settings.title }}</h1>
                {% endif %}
                {% if section.settings.description != blank %}
                    {{ section.settings.description }}
                {% endif %}
                {% if section.settings.btn_url != blank %}
                    <a 
                        class="cursive tal:tw-py-8px tal:tw-px-16px tw-mt-16px tw-p-8px tw-inline-block tw-border-solid tw-border-black tw-border tw-rounded-3xl tw-transition-colors tw-duration-500 tw-bg-yellow tw-text-black hover:tw-text-white hover:tw-bg-black" 
                        href="{{ section.settings.btn_url }}">{{ section.settings.btn_label }}</a>
                {% endif %}
            </div>
        </div>
        <div class="main-banner__media tw-w-full">
            <div class="main-banner__media-inner tal:tw-rounded-3xl tw-rounded-t-3xl tw-overflow-hidden">
                {% if section.settings.img_des != blank %}
                    <img 
                        src="{{ section.settings.img_des | img_url: '1920x1920' }}" 
                        alt="{{ section.settings.img_des.alt }}"
                        class="image-full md:tw-block tal:tw-min-h-[600px] tal:tw-object-cover tw-hidden"
                    >
                {% endif %}
                {% if section.settings.img_mb != blank %}
                    <img 
                        src="{{ section.settings.img_mb | img_url: '768x768' }}" 
                        alt="{{ section.settings.img_mb.alt }}"
                        class="image-full md:tw-hidden tw-block"
                    >
                {% endif %}
            </div>
        </div>
    </div>
</container>

{% schema %}
    {
        "name": "Main Banner",
        "tag": "section",
        "class": "main-banner",
        "settings": [
            {
                "type": "header",
                "content": "Layout"
            },
                {
                    "type": "checkbox",
                    "id": "full_width",
                    "label": "Full Screen",
                    "default": false
                },
            {
                "type": "header",
                "content": "Media"
            },
                {
                    "type": "image_picker",
                    "id": "img_des",
                    "label": "Image Desktop",
                    "info": "Image size should be 1920 x 1920"
                },
                {
                    "type": "image_picker",
                    "id": "img_mb",
                    "label": "Image Mobile",
                    "info": "Image size should be 420 x 420"
                },
            {
                "type": "header",
                "content": "Content"
            },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Title"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description",
                    "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>"
                },
                {
                    "type": "url",
                    "id": "btn_url",
                    "label": "URL"
                },
                {
                    "type": "text",
                    "id": "btn_label",
                    "label": "Button Label",
                    "default": "Button"
                },
            {
                "type": "header",
                "content": "Padding Heading"
            },
                {
                    "type": "range",
                    "id": "padding_top",
                    "min": 0,
                    "max": 100,
                    "step": 4,
                    "unit": "px",
                    "label": "Padding Top",
                    "default": 36
                },
                {
                    "type": "range",
                    "id": "padding_bottom",
                    "min": 0,
                    "max": 100,
                    "step": 4,
                    "unit": "px",
                    "label": "Padding Bottom",
                    "default": 36
                }
        ],
        "presets": [
            {
                "name": "Main Banner"
            }
        ]
    }
{% endschema %}