{% style %}
    
{% endstyle %}

<container class="{% if section.settings.full_width %}section-container{% else %}page-full{% endif %} {{ section.settings.custom_layout }}">
    <div class="section-inner">
        <div class="section-title">
            {% if section.settings.title != blank %}
                <h1>{{ section.settings.title }}</h1>
            {% endif %}
            {% if section.settings.subtitle != blank %}
                <h6>{{ section.settings.subtitle }}</h6>
            {% endif %}
            {% if section.settings.description != blank %}
                {{ section.settings.description }}
            {% endif %}
        </div>
        <div class="section-main">
            {% if section.settings.custom_layout == 'slider' %}
                <section class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% for block in section.blocks %}
                                {% assign product = block.settings.product %}
                                <li class="splide__slide">
                                    <a href="{{ product.url }}" class="product-cart">
                                        <img src="{{ product.media | img_url: '300x300' }}">
                                        <h3>{{ product.title }}</h3>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            {% else %}
                <div class="grid">
                    {% for block in section.blocks %}
                        {% assign product = block.settings.product %}
                        <a href="{{ product.url }}" class="product-cart">
                            <img src="{{ product.media | img_url: '300x300' }}">
                            <h3>{{ product.title }}</h3>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</container>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var splide = new Splide('.product-suggestion .splide', {
            type: 'loop',
            perPage: {{ section.settings.slider_perPage_des }},
            perMove: {{ section.settings.slider_perMove }},
            pagination: {{ section.settings.slider_pagination }},
            arrows: {{ section.settings.slider_arrow }},
            drag: {{ section.settings.slider_drag }},
            breakpoints: {
                767: {
                    perPage: {{ section.settings.slider_perPage_mb }},
                },
            }
        });

        splide.mount();
    });
</script>

{% schema %}
    {
        "name": "Product Suggestion",
        "tag": "section",
        "class": "product-suggestion",
        "settings": [
            {
                "type": "header",
                "content": "Layout"
            },
                {
                    "type": "checkbox",
                    "id": "full_width",
                    "label": "Full Screen",
                    "default": false
                }
            {
                "type": "header",
                "content": "Slider"
            }, 
                {
                    "type": "range",
                    "id": "slider_perPage_des",
                    "min": 2,
                    "max": 5,
                    "step": 1,
                    "label": "Slider Per Page on Desktop",
                    "default": 4
                },
                {
                    "type": "range",
                    "id": "slider_perMove",
                    "min": 1,
                    "max": 5,
                    "step": 1,
                    "label": "Slider Per Move",
                    "default": 1
                },
                {
                    "type": "select",
                    "id": "slider_perPage_mb",
                    "options": [
                      {
                        "value": "1",
                        "label": "1"
                      },
                      {
                        "value": "2",
                        "label": "2"
                      }
                    ],
                    "default": "2",
                    "label": "Slider Per Page on Mobile"
                },
                {
                    "type": "checkbox",
                    "id": "slider_pagination",
                    "label": "Show Pagination",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "slider_arrow",
                    "label": "Show Arrow",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "slider_drag",
                    "label": "Enable Drag",
                    "default": false
                },
            {
                "type": "header",
                "content": "Content"
            }, 
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Title"
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "SubTitle"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description",
                    "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>"
                },
            {
                "type": "header",
                "content": "Color"
            }
        ],
        "blocks": [
            {
                "name": "Product",
                "type": "block",
                "settings": [
                    {
                        "type": "product",
                        "id": "product",
                        "label": "Product"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Product Suggestion"
            }
        ]
    }
{% endschema %}